<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FlsGliderSync.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="pxqCalendarPlanner" publicKeyToken="C185A538158A7590" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.1" newVersion="3.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevComponents.DotNetBar2" publicKeyToken="7EB7C3A35B91DE04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.8.0.0" newVersion="10.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="combit.ListLabel17" publicKeyToken="A7A30592CB4A94BE" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4.4561.24958" newVersion="17.4.4561.24958" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <FlsGliderSync.My.MySettings>
      <setting name="Password" serializeAs="String">
        <value>szik5fzsEWA=</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Crypto" serializeAs="String">
        <value>smc%espo$</value>
      </setting>
      <setting name="ServiceAPITokenMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/Token</value>
      </setting>
      <setting name="ServiceAPIPersonMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/persons/</value>
      </setting>
      <setting name="ServiceAPIDeliveriesNotProcessedMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/deliveries/notprocessed</value>
      </setting>
      <setting name="ServiceAPIDeletedPersonFulldetailsMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/persons/fulldetails/deleted/</value>
      </setting>
      <setting name="ServiceAPIModifiedPersonFullDetailsMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/persons/fulldetails/modified/</value>
      </setting>
      <setting name="ShowSameFields" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServiceAPICountriesMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/countries/overview</value>
      </setting>
      <setting name="ServiceAPIArticlesMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/articles/</value>
      </setting>
      <setting name="ServiceAPIPersonsMemberNrMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/persons/membernumber/</value>
      </setting>
      <setting name="ServiceAPIMemberStates" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/memberstates</value>
      </setting>
      <setting name="ServiceAPIDeliveredMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/deliveries/delivered</value>
      </setting>
      <setting name="ServiceAPIModifiedFlightsMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/flights/exchange/modified/</value>
      </setting>
      <setting name="ServiceAPIAircraftsMethod" serializeAs="String">
        <value>https://test.glider-fls.ch/api/v1/aircrafts/overview</value>
      </setting>
    </FlsGliderSync.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="PXSGN01Entities" connectionString="metadata=res://*/Entities.EntityDataModel.csdl|res://*/Entities.EntityDataModel.ssdl|res://*/Entities.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-FT01\;initial catalog=PXSGN01;persist security info=True;user id=sa;password=Pa$$w0rd!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>